.footer-container {
    background-color: #202020;
    color: #ffffff;
    padding: 190px;
    margin: 2%;
    border-radius: 20px 20px 20px 20px;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footer-navigation {
    display: flex;
  }
  
  .footer-nav-item {
    text-decoration: none;
    color: white;
    margin-right: 20px;
    font-size: 1.2rem;
  }
  
  .footer-button {
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    color: white;
    font-size: 1.4rem;
    padding: 1rem 2rem;
    border-radius: 0 0 10 10px;
    cursor: pointer;
  }
  